*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
}
.robotoFont{
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* headder stye */
header{
  

    background-image: url(./assest/Hero-bg.png);
    width: 100%;
    min-height: 200px;
    height: 40vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
     /* margin: 15px 20px; */

}
.logoNavMain{
   display: flex;
    justify-content: space-between;
     align-items: center; 
     padding: 15px 20px;
}
.logo h2{
    color:green;
    font-size: 40px;
     cursor: pointer;
}
.nav button{
    padding: 15px 35px;
    font-size: 18px;
    border-radius: 15px;
    background-color: rgb(47, 145, 243);
    border: none;
    cursor: pointer;
}
article{
    width: 500px;
    margin: 20px auto;
    text-align: center;
    
}
article h1{
    font-size: 40px;
}
.heroAreaSection{
    border: 2px solid black;
    margin: 30px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}